.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  text-transform: uppercase;
  
}

html {
    overflow-y: scroll; 
}

body {
      background-color: #fafafa;
      font-size: 18px;
}

.navbar-default 
{
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-bottom-color: #dedede;
  margin-bottom: 0px !important;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-nav > li {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 28px !important;
}

.menu-gradient {
    background: -webkit-linear-gradient(#0e9c39, #80e819); /*Safari 5.1-6*/
    background: -o-linear-gradient(#0e9c39, #80e819); /*Opera 11.1-12*/
    background: -moz-linear-gradient(#0e9c39, #80e819); /*Fx 3.6-15*/
    background: linear-gradient(#0e9c39, #80e819);
}

.navbar-nav>.active>a {
  color: white !important;  
  background-color: #339966 !important;
  border-radius: 5px !important;
}

.navbar-nav>li>a{
   color: white !important;  
}

.active
{
  .background-color: #339966;
}
@media (min-width: 768px) {
  .navbar-nav>.active>a:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px #339966;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
  }
}
.navbar-brand {
  padding-top: 18px;
  padding-bottom: 10px;
  height: 100%;
}

.main-text {
  color: white !important;  
  font-size: 45px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  padding-top: 60px;
}

.background-img {
  background-image: url(../img/background.png);
  background-size: cover;
  height: 865px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.background-row {
  height: 615px;
}


.gray-text {
  color: #58585a;
}

.large-text {
  font-size: 40px;
}

.medium-text {
  font-size: 30px;
}

.red-chevron {
  color: #f13127;
  vertical-align: 5px;
}

.red-chevron-offer {
  color: #f13127;
  vertical-align: -1px;
}

.background-logo {
  background-image: url(../img/plasta-dol.png);
  height: 198px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.top-plasta-margin {
  margin-top: 150px;
}

.plasta-to-top-margin {
  margin-top: 75px;
}

.font-bold {
  font-weight: bold;
}

.top-margin-second {
  margin-top: 25px;
}

.vcenter {
    float:none;
    display:inline-block;
    vertical-align:middle;
}

.background-white {
  background-color: white !important; 
}

.about-top-margin {
  margin-top: 50px;
}

.owner-info {
  font-weight: bold;
  margin-top: 25px;
}
.large-quote {
  background: url(../img/quote.png) no-repeat top left;
  display: inline-block;
  height: 21px;
  width: 24px;
}

.white-text {
  color: white;
}

.text-small {
  font-size: 12px;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

.background-pastel {
  background-color: #f9fff2;
}

.about-paddings
{
  padding-bottom: 30px;
  padding-top: 30px;
}

.clear-left {
  padding-left: 0px !important;
}

.left-glyph-padding {
  padding-left: 20px;
}

.gray-background {
  background-color: #d7d7d7;
}

.center-text-hv {
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}
.clear-margin{
  margin: 0px 0px 0px 0px;
}

.font-small {
  font-size: 14px;
}
.clear-bottom-margin {
  margin-bottom: 0px;
}
.green-arrow {
    color: green;
    float: right;
    margin-top: -20px;
    font-size: 28px;
}

.references > div img{
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 2px solid #c5cbb3;
}

.references > div img:hover{
  cursor: pointer;
}
.references > div p:hover{
  cursor: pointer;
}
.contact-left-padding{
  padding-left: 12px;
}

.modal-dialog {
    width: 1200px;
}

.modal-body > img {
  max-width: 100%;
  max-height: 100%;
}

.modal.in {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}